div.accountButton {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    cursor: pointer;
    padding: 0.25rem;
}

div.accountButton span {
    white-space: nowrap;
    margin-left: 0.25rem;
    color: white;
}